<form action="/user-profile/edit" method="POST" enctype="multipart/form-data">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="ironhacker">

  <label for="imgUrl">Avatar:</label>
  <input type="file" name="imgUrl">
  <button type="submit">Save</button>

</form>